* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
#name {
  color: #e33e3e;
  font-weight: 500;
  font-size: 41px;
}
#bio {
  width: 50%;
  line-height: 1.5;
  color: white;
  font-size: 21px;
}

.typedId {
  color: #e33e3e;
  font-weight: 550;
  z-index: 1;
}

hr {
  color: rgba(240, 248, 255, 0.37);
  margin: 5rem 0rem 5rem 0rem;
}

.thumbnail {
  width: 95%;
  padding: 0px;
  margin: 0px;
}
.thumbnail:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.card-img-top {
  height: 300px;
}
.description {
  width: 80%;
  height: 12rem;
  background: #293135;
  color: white;
  font-weight: 300;
  font-size: 15px;
}
.title {
  width: 23rem;
  height: 6rem;
  background: transparent;
  color: #e33e3e;
  border: none;
  justify-content: center;
}

.projectTitle {
  font-size: 36px;
  font-weight: 400;
}
.projectTech {
  font-weight: 200;
  font-size: 18px;
}

.description-right {
  box-shadow: -6px 6px 12px 1px #171515b8;
}
.description-left {
  box-shadow: 6px 6px 12px 1px #171515b8;
}

#socialMedia {
  position: fixed;
  bottom: 11px;
  left: 3px;
  z-index: 1;
}

@media (max-width: 700px) {
  .projects {
    align-items: center !important;
  }
  #project1 {
    flex-direction: column-reverse !important;
  }
  #project2 {
    flex-direction: column !important;
  }
  .details {
    margin-bottom: 16px;
  }
  #bio {
    width: 100%;
  }
  .title,
  .thumbnail,
  .description {
    height: 90%;
    width: 90%;
  }
  .title {
    font-size: small;
  }
  #socialMedia {
    display: flex;
    position: unset;
    padding-left: 0px;
    justify-content: space-evenly;
  }
  .card-body {
    text-align: center !important;
  }
}
@media (max-width: 1024px) and (min-width: 700px) {
  .description,
  .title,
  .thumbnail {
    height: auto;
    width: auto;
  }
  #bio {
    width: 80%;
  }
}

footer {
  height: 5rem;
  padding-top: 0.7rem;
  font-size: 19px;
  background-color: #23282b;
  border-top: 1px solid #00000021;
}

